//- page metadata
- var title = 'Visual Analytics'
- var description = 'Visual Analytics presentation at UT'
- var author = 'John R Goodall'

//- theme name (without .css)
- var theme = 'goodall'

//- transition type (default/cube/page/concave/zoom/linear/none)
- var transition = 'linear'

//- footer, in bottom left corner
- var footerImage = 'img/ornl.png'